<h2>Listing Pages</h2>
<table class="table table-striped table-hover condensed">
	<thead>
		<th>Title</th>
		<th>&nbsp;</th>
	</thead>
	<tbody>
		<% @pages.each do |page| %>
			<tr>
				<td><%= page.title %></td>
				<td>&nbsp;</td>
			</tr>
		<% end %>
	</tbody>
</table>