<h2>New Page</h2>
<%= form_for :page, html: {class: "form-horizontal"}, url: pages_path do |f| %>
	<div class="control-group">
		<%= f.label :title, :class => "control-label" %>
		<div class="controls">
			<%= f.text_field :title, :class => "input-block-level" %>
		</div>
	</div>

	<div class="control-group">
		<%= f.label :content, "Content", :class => "control-label" %>
		<div class="controls">
			<%= f.text_area :content, :class => "input-block-level", :style => "height: 300px;" %>
		</div>
	</div>

	<div class="control-group">
		<div class="controls">
			<%= f.submit :class => "btn btn-primary" %>
		</div>
	</div>
<% end %>