<!DOCTYPE html>
<html>
	<head>
		<title>SFLAN</title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="wrapper">
			<div class="container">
				<h1>SFLAN</h1>

				<%= yield %>

			</div>
		</div>
	</body>
</html>
